    body {
        background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/US_Woodland_pattern.svg/800px-US_Woodland_pattern.svg.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        font-family: "Stardos Stencil", sans-serif;
        color: bisque;
    }

    .container-top {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        padding: 10px;
        gap: 10px;
    }

    .container {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .linha-corte {
        border: none;
        height: 2px;
        background-color: bisque;
        width: 100%;
    }