    body {
        background-color: olivedrab;
        font-family: "Stardos Stencil", sans-serif;
        color: bisque;
    }

    .container-top {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        padding: 10px;
        gap: 10px;
    }

    .container {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .linha-corte {
        border: none;
        height: 2px;
        background-color: bisque;
        width: 100%;
    }